@import "Styles/Colors.scss";

.Banner {
	background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bm90ZXN8ZW58MHx8MHx8&w=1000&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Banner_Box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #f2f2f2;
	width: 20rem;
	height: 30%;
	border-radius: 30px;
	padding: 30px;
	transition: all 1s;
	border: solid #e7e7e7 0.5px;
}

.btn-banner {
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: #f2f2f2;
}

.btn-banner:hover {
	box-shadow: 5px 5px 5px 1px $color-blue;
	margin-right: 10px;
	margin-bottom: 10px;
}

@keyframes shadowMove {
	0% {
		box-shadow: 10px 10px 10px 1px $color-blue;
	}
	25% {
		box-shadow: -10px 10px 10px 1px $color-blue;
	}
	50% {
		box-shadow: -10px -10px 10px 1px $color-blue;
	}
	75% {
		box-shadow: 10px -10px 10px 1px $color-blue;
	}
	100% {
		box-shadow: 10px 10px 10px 1px $color-blue;
	}
}

.Banner_Box > h1 {
	margin: 0;
}
